<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB practice</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
  <body>
    <form action="/success" method="post">
        <input type = "text" name = "name" placeholder = "Name">
        <input type = "text" name = "age" placeholder = "Name">
        <input type = "text" name = "height" placeholder = "Name">
        <input type = "text" name = "group" placeholder = "Name">
        <input type="submit" value="submit"/>

    <form>
    
    <h1> Engineers Table </h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Height</th>
            <th>Group</th>
        </tr>
        {% for engineer in engineers %}
            <tr>
                <td>{{engineer["name"]}}</td>
                <td>{{engineer["age"]}}</td>
                <td>{{engineer["height"]}}</td>
                <td>{{engineer["group"]}}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>

   

    
        