<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/static/genre.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
   
    <main class="library-pic">
        <div class="recommended">
            <div class="typed-out"><h1>Recommended Books <a href="/">📚</a></h1></div> 

        </div>
        <div class="parent">
            <div class="container">
                {% for work in data['works'] %}
                <div class="book">
                    <h2>{{work['title']}}</h2>
                    <h2>{{work['authors'][0]['name']}}</h2>
                </div>            
                {% endfor %}
            </div> 
        </div>
       
    </main> 
</body>
</html>

