<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your personal word guide!</title>
    <style type="text/css">.body { width: auto; }</style>
  </head>
  <body>
    <main>
        <div class="genre">
            <h1>Choose an option</h1>
            <form action="/genre" method="post">
                <select name = "dropdown">
                <option value = "love" selected>Love</option>
                <option value = "drama">Drama</option>
                <option value = "classics">Classics</option>
                <option value = "mystery">Mystery</option>
                <option value = "romance">Romance</option>
                <option value = "mythology">Mythology</option>
                <option value = "greeks">Greeks</option>
                <option value = "history">History</option>
                <option value = "poetry">Poetry</option>
                <option value = "nature">Nature</option>
                <option value = "religion">Religion</option>
                <option value = "comedy">Comedy</option>
                <option value = "children">Children</option>
                <option value = "young adult">Y/A</option>
                <input type="submit" value="Send" />
            </form>

  </body>
</html>