<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiration</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
  <body>
    <main class="library-pic">
      <div class = "all">
        <div class="library">
          <h1><div class="typed-out">Your Digital Library</div></h1>
        </div>
        <div class="genre">
          <form action="/genre" method="post">
            <select name = "dropdown">
            <option value = "love" selected>Love</option>
            <option value = "drama">Drama</option>
            <option value = "classics">Classics</option>
            <option value = "mystery">Mystery</option>
            <option value = "romance">Romance</option>
            <option value = "mythology">Mythology</option>
            <option value = "greeks">Greeks</option>
            <option value = "history">History</option>
            <option value = "poetry">Poetry</option>
            <option value = "nature">Nature</option>
            <option value = "religion">Religion</option>
            <option value = "comedy">Comedy</option>
            <option value = "children">Children</option>
            <option value = "young adult">Y/A</option>
            <option value = "fantasy">Fantasy</option>
            <option value = "language">Language</option>
            <option value = "cooking">Cooking</option>
            <option value = "dating">Dating</option>
            <option value = "advice">Advice</option>
            <option value = "spanish">Spanish</option>
            <option value ="writing">Writing</option>
            <option value = "memoir">Memoir</option>
            <option value = "howto">How-To</option>
            <option value = "horror">Horror</option>
            <input type="submit" value="Search ♡" />
          </form>
        </div>
      </div>
    </main>
  </body>
</html>